@import "vendor/slim-select/slimselect";

.ss-main.country-select{
  margin: 0 0 $form-spacing;
}

.ss-main.country-select .ss-single-selected,
.ss-content .ss-list .ss-option{
  .country-flag{
    margin-right: .5rem;

    img{
      position: relative;
      display: inline-block;
      width: 1rem;
    }
  }
}

.ss-main.country-select{
  .ss-single-selected{
    padding: $input-padding;
    font-size: $input-font-size;
    line-height: $input-line-height;
    height: 2.4375rem;
    border: $input-border;
    box-shadow: $input-shadow;

    .placeholder {
      white-space: unset;

      .country-flag{
        flex: 0 0 16px;

        img{
          width: 100%;
        }
      }
    }

    .country-text{
      white-space: nowrap;
    }
  }
}

.half_signup{
  &.middle_option{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
  }

  &.gray-image{
    fill: currentColor;
  }
  &.maximum-width{
    max-width: 535px;
  }
  &.input-padding{
    padding: 8px 4px;
  }
  &.custom-input{
    @include breakpoint(small){
      padding: 0 6%;
    }
    @include breakpoint(smallmedium){
     padding: 0 6%;
    }
    @include breakpoint(medium){
      padding: 0 7%;
    }
    @include breakpoint(large){
      padding: 0 15px;
    }
    @include breakpoint(xxlarge){
      padding: 0 20px;
      height: 3.2rem;
    }
  }
}

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
