<% if auth_method == "sms" %>
  <div class="columns large-centered text-center">
    <p>
      <%= t(".verification_code") %>
      <strong id="hint"><%= @verification_code %></strong>
    <span class="form-error is-visible"><%= t(".hint_notification") %></span>
    </p>
  </div>
<% end%>
