<div class="half-signup-methods-item">
  <div class="text-center gray-image">
    <svg aria-label="<%= t(".email") %>" role="img" viewBox="0 0 512 512">
      <title><%= t(".email") %></title>
      <use href="<%= asset_pack_path "media/images/mail-open-outline.svg" %>#mail-open-outline">
    </svg>
  </div>
  <div class="button-wrapper">
    <%= link_to t("email", scope: "decidim.half_signup.quick_auth.options"), users_quick_auth_email_path, class: "button expanded" %>
  </div>
</div>
