<% if multiple_columns %>
  <div class="small-6 columns medium-5">
<% else %>
  <div class="small-8 small-offset-2 columns medium-6 medium-offset-3">
<% end %>
  <div class="row">
    <%= image_pack_tag "media/images/chatbubble-sms-outline.svg", class: "columns small-6 small-offset-3" %>
  </div>
  <div class="row">
    <%= link_to t("sms", scope: "decidim.half_signup.quick_auth.options"), users_quick_auth_sms_path, class: "button expanded" %>
  </div>
</div>
