<div class="reveal" id="halfSignupLoginModal" data-reveal role="dialog" aria-modal="true" aria-labelledby="loginModal-label">
  <div class="reveal__header">
    <h2 id="loginModal-label" class="reveal__title"><%= t("please_sign_in", scope: "decidim.shared.half_signup_login_modal") %></h2>
    <button class="close-button" data-close aria-label="<%= t("close_modal", scope: "decidim.shared.half_signup_login_modal") %>"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <%= render "auth_handler_list" %>
</div>