<div class="wrapper text-center">
    <%= t(".title") %>
  <div class="row m-top-3">
    <div class="medium-6 columns medium-offset-3">
      <div class="large-5 columns float-left padding-small">
        <h3>Left Column Title</h3>
        <p>Some text goes here</p>
        <div class="button-group expanded padding-small">
          <button class="button">Button 2</button>
        </div>
      </div>
      <div class="large-2 columns float-left padding-small">
        <h3>Middle Column Title</h3>
        <p>Some text goes here</p>
      </div>
      <div class="large-5 columns float-left">
        <h3>Left Column Title</h3>
        <p>Some text goes here</p>
        <div class="button-group expanded padding-small">
          <button class="button">Button 2</button>
        </div>
      </div>
    </div>
  </div>
</div>
