<div class="content">
  <div class="columns large-6 medium-8 text-center large-offset-3 medium-offset-2">
    <h1><%= t(".title") %></h1>
    <div class="row card -3">
      <div class="half_signup card__content middle_option">
        <%= render partial: "sms_option", locals: { multiple_columns: true } %>
        <div class="small-12 medium-2 columns">
          <%= t(".or")%>
        </div>
          <%= render partial: "email_option", locals: { multiple_columns: true }%>
      </div>
    </div>
  </div>
</div>
