<div class="wrapper">
  <div class="row">
    <div class="field">
      <%= form.check_box :enable_partial_sms_signup, help_text: t("help_text", scope:"decidim.half_signup.admin.auth_settings.sms") %>
    </div>
    <br/>
    <div class="field">
      <%= form.check_box :enable_partial_email_signup, help_text: t("help_text", scope:"decidim.half_signup.admin.auth_settings.email") %>
    </div>
  </div>
  <br>
  <div class="row">
    <h2><%= t("title", scope:"decidim.half_signup.admin.auth_settings") %></h2>
    <p><%= t("description", scope:"decidim.half_signup.admin.auth_settings")%></p>
    <div style="background-color: #eee">
      <pre><code style="border:none"> Decidim::HalfSignup.configure do |config|
    # Define the country codes for the default countries to show in the list of countries for phone numbers, the first country will be selected by default
    config.default_countries = [:us]
    # Disable the terms of service (TOS) acceptance after initial login
    config.show_tos_page_after_signup = false
    # Define how many digits the auth code includes
    config.auth_code_length = 4
  end</code></pre>
  </div>
</div>
