<div class="row">
  <div class="columns xlarge-6">
    <%= form.check_box :enable_partial_sms_signup %>
  </div>
</div>

<div class="row">
  <div class="columns xlarge-6">
    <%= form.check_box :enable_partial_email_signup %>
  </div>
</div>
