<% if account.phone_number.present? %>
  <%= f.text_field :mask_number, disabled: true %>
  <p class="help-text">
    <%= link_to t(".update"),  decidim_half_signup.users_quick_auth_sms_path %>
  </p>
<% else %>
  <p>
    <%= link_to t(".add"),  decidim_half_signup.users_quick_auth_sms_path, class: "link " %>
  </p>
<% end %>

